body {
    background-color: aquamarine;
    color: darkblue;
    text-align: center;
}

header {
    background-color: darkblue;
    color: grey;
    margin-top: auto;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    border: 2px solid darkblue;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1.5rem;
}


footer {
    background-color: aliceblue;
    border-top: 2px solid darkred;
}

a {
    text-decoration: none;
}